<div class="row bloco-agenda">
    <div class="col-xs-12">
        {% include 'partials/_agenda.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 card-instagram instagram-lite" style="background-image: url({{paths.theme}}assets/img/post-instagram.jpg)">
        <span class="fa fa-3x fa-instagram cor4 padding-top-1 pull-right"></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 card-colabore">
        {% setcontent info_noticias = 'pagina/noticias' %}
        {{info_noticias.corpo}}
    </div>
</div>